html, body, h1  {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    gap: 50px;
}

.card {
    display: flex;
    border: solid 1px black;
    width: 500px;
    height: 200px;
    gap: 100px;
}

.text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    padding: 50px;
}

.fild {
    border-radius: 15px;
    padding: 10px;
}

#button {
    width: 70px;
    align-items: center;
    color: white;
    background: blue;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
}